#projects {
    article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 1px var(--primary-dark));
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
    height: 100%;
    grid-gap: 5cqw;

    figure {
      width: 100%;
      margin: 0;
      z-index: 1;
      position:relative;
      aspect-ratio: 390/190;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        scale: 1;
        transition: 0.5s;
      }
    }

    figure:before {
      content: '';
      position: absolute;
      background: var(--primary);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      mix-blend-mode: color;
      filter: opacity(0.3);
      transition: 0.5s;
      z-index: 1;
    }
  }

  article:before {
    content: '';
    display: block;
    filter: drop-shadow(0px 0px 1px var(--primary-dark)) saturate(0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: var(--primary-a0);
  }

  article:hover {
    img {
      scale: 1.1;
      transition: 0.5s;
    }
    figure:before {
      filter: opacity(0);
      transition: 0.5s;
    }
  }

  .info {
    padding: 0 20px;
    z-index: 1;
  }
}

@media (min-width: 600px) {
  #projects {
    h3 { 
      font-size: 1.7cqw;
    }

    h4 {
      font-size: 1cqw;
    }

    article {
      grid-gap: 1.5cqw;
      padding-bottom: 20px;
    }
  }
}