@use '../../styles/colors' as *;

#intro {
    background: radial-gradient(circle at 50% 10%, var(--primary-a0) 15%, #000 100%);

  p {
    font-size: 16px;
  }

  h1 .h1b {
    margin-left: 2cqw;
    transform:  translate(-30cqw, 0px)
  }
}

@media (min-width: 600px) {
#intro {
    p {
      font-size: 1.4cqw;
    }

    h1 .h1b {
      margin-left: 2cqw;
      transform:  translate(-14cqw, 0px)
    }
  }
}