@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900,300");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------
   Estilos globais
---------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--copy-light);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  padding:  0;
  font-weight:400;
  scroll-snap-type: y mandatory;
  margin: 0;
}

/* ---------------------------------------
   Títulos — usando cor secundária
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 900;
  line-height: 1.2;
  color: var(--primary-light);
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
}

h1 { 
  /* font-size: 52px;  */
  color: var(--primary);
  letter-spacing: 1px;
  font-weight:900;
  font-size: 14cqw;
  margin-top: 0;
  display: flex;
}
h2 { 
  /* font-size: 18px;  */
  font-size: 10cqw; 
  margin-bottom: 12cqw;
}
h3 { 
  /* font-size: 16px; */
  font-size: 3.5cqw; 
}

h4 {
  font-size: 5cqw;
}

pre {
  padding: 5px 15px;
  background: var(--foreground);
  border-radius: 20px;
}

svg path {
  fill: var(--primary);
}
/* ---------------------------------------
   Parágrafos
---------------------------------------- */
p {
  margin-bottom: 1rem;
  
  strong, b {
    color: var(--primary);
  }
}

/* ---------------------------------------
   Links — usando secundária
---------------------------------------- */
a {
  color: var(--primary-a50);
  text-decoration: none;
  transition: color .2s ease;
}

a:hover {
  color: var(--clr-secondary-a40);
}

button {
  background: var(--secondary);
  color: var(--copy);
  border: 0;
  border-radius: 5px;
  cursor:pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size:12px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  scroll-snap-align: start;
  container-type: size;
}

@media (min-width: 600px) {
  h1 { 
    font-size: 6cqw;
  }

  h2 { 
    font-size: 4cqw;
    margin-bottom: 3cqw;
  }

  h3 { 
    font-size: 2cqw; 
  }
}