#skills {
  background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  /* grid-gap: 2cqw; */
  container-type: inline-size;

  ul {
    display: flex;
    grid-gap: 3cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: auto;
  }


}