#links {
  background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  grid-gap: 2cqw;
  min-height: auto;
  container-type: normal; 

  ul {
    display: flex;
    grid-gap: 10cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 600px) {
    #links {
    ul {
      grid-gap: 2cqw;
      justify-content: flex-start;
    }
  }
}