#projects {
  background: radial-gradient(circle at 50% 50%, var(--primary-a0) 15%, #000 100%);
  container-type: inline-size;

  h3 { 
    font-size: 6cqw;
    margin: 0;
    color: var(--primary);
  }

  h4 {
    margin: 0;
    color: var(--primary-a50);
  }

  .grid {
    display: flex;
    flex-direction: column;
    grid-gap: 30px 40px;
    margin-top: 20px;
  }

  
}

@media (min-width: 600px) {
  #projects {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media (min-width: 1000px) {
  #projects {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }


  }
}