#skills, #about {
  background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  /* grid-gap: 2cqw; */
  container-type: inline-size;

  .about-me {
    display: flex;
    grid-gap: 10cqw;
    align-items: center;
    padding: 0;
    flex-direction: column;
    
    img {
                  width: 35vw;
            margin: 20px 0 0 0;
    }

    
  }

  .about-me__txt {
      width: auto;

      p {
        text-wrap-style: balance;
        font-size: 16px;
      }
    }

  ul {
    display: flex;
    grid-gap: 3cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: auto;
  }

  li {    
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--primary-a0);
    width: 28cqw;
    height: 28cqw;
    justify-content: center;
    border-radius: 15px;
    background: var(--primary-a0);
    filter: saturate(0.5) drop-shadow(0px 0px 1px var(--primary-dark));
    grid-gap: 10px;
    padding-top: 10px;
  }

  /* h3 {
    margin: 0 0 30px 0;
  } */

  h3 {
    margin: 0;
    text-align: center;
    height: 4cqw;
    display: flex;
    align-items: center;
    /* font-size: 3.5cqw; */
  }

  svg {
    height: 10cqw;
        flex: 0 0 10cqw;
    /* height: 5cqw;
    flex: 0 0 5cqw; */
  }
}